<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PateShopApiBaseUrl" value="https://vocal-macaron-8e4e1a.netlify.app/api/"/>
		<add key="PGServer" value="ep-weathered-wildflower-50466119-pooler.us-east-2.aws.neon.tech"/>
		<add key="PGDatabase" value="pate-shop"/>
		<add key="PGUsername" value="nnthuy159"/>
		<add key="PGPassword" value="1Gue2sonSflE"/>

		<add key="ItemsPerPage_Orders" value="10"/>
		<add key="ItemsPerPage_Products" value="6"/>
		<add key="ItemsPerPage_Customers" value="10"/>
		<add key="RememberLastOpenedWindow" value="False"/>
	</appSettings>
</configuration>